<h1>Comment#notify</h1>

<p>
  <%= @greeting %>  
</p>

<p>
  <%= @user.email %> ha recibido un nuevo comentario para el curso <%= @comment.curso.titulo %>
</p>

<p>
  Comentario: <%= @comment.comentario %>
</p>